body {
    font-family: Garamond, serif;
}

#background_image {
    width: 99vw;
    height: 99vh;
}

.city_name {
    position: absolute;
    color:#C6808B;
    font-size: 100px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 10px;
}

.current_temp {
    position: absolute;
    color:white;
    font-size: 50px;
    top: 325px;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 10px;
}


#humidity, #pressure, #wind_speed {
    position: absolute;
    display: inline-block;
    text-align: center;
    color: #ffffff;
}

.slider {
    position: absolute;
    top: 90%;
    left: 90%;
}

#user_input {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: calc(50% - 65px);
    top: 25px;
    text-align: center;
    font-size: 10px;
}

.menu_bar{
    position: absolute;
    width: 50px;
    height: 95.3vh;
    left: 8px;
    top: 8px;
    transition: width 1s;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
    background-color: #C6808B;
}


.menu_bar:hover {
    width: 200px;
    text-align: center;
}


ul {
    position: relative;
    left: -30px;
    text-align: center;
    margin: auto;
    list-style-type: none;
}

.menu_bar li {
    height: 175px;
}

.circle {
    position: relative;
    top: 10px;
    margin: auto;
    height: 120px;
    width: 120px;
    background-color: lightblue;
    border-radius: 50%;
    display: block;
    visibility: hidden;
    font-size: 20px;
}

.day_temp {
    position: relative;
    margin: auto;
    top: 30px;
}

.day_image {
    position: relative;
    top: 35px;
    width: 40px;
    height: 40px;
}

.curr_img {
    position: absolute;
    top: 325px;
    left: calc(50% - 30px);
    width: 50px;
    height: 50px;
    visibility: hidden;
}

.advanced {
    font-weight:bold;
    position: absolute;
    display: inline;
    left: 85%;
    top: 20px;
    opacity: 0.85;
}

.previous {
    font-weight:bold;
    position: absolute;
    display: inline;
    left: 85%;
    top: 85px;
    opacity: 0.85;
}

.unit {
    font-weight:bold;
    position: absolute;
    display: inline;
    left: 85%;
    top: 55px;
    opacity: 0.85;
}

#humidity {
    top: 500px;
    left: calc(30% - 3.2vw);
    font-size: 3.2vw;
    visibility: hidden;
}

#pressure {
    top: 500px;
    left: calc(50% - 3.2vw);
    font-size: 3.2vw;
    visibility: hidden;
}

#wind_speed {
    top: 500px;
    left: calc(70% - 3.2vw);
    font-size: 3.2vw;
    visibility: hidden;
}
